#hero {
  h1 {
    font-family: "Miriam Libre";
    font-weight: bold;
    font-size: 36px;
    color: $dark-grey;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }

  h6 {
    font-family: "Miriam Libre";
    font-weight: bold;
    font-size: 10px;
    color: $dark-grey;
    letter-spacing: 0.04px;
    margin-top: 50px;
    padding-bottom: 3px;
    border-bottom: 1px solid $middle-grey; //rgba($dark-grey, .5);
  }

  .overview {
    font-family: "Miriam Libre";
    font-weight: bold;
    font-size: 30px;
    color: $dark-grey;
    letter-spacing: 0.31px;
    line-height: 54px;
    margin-top: 32px;
    margin-bottom: 80px;
  }

  .tools {
    font-family: "Miriam Libre";
    font-weight: light;
    font-size: 24px;
    color: $dark-grey;
    letter-spacing: 0.31px;
    line-height: 54px;
  }
}
