.comp-form .comp-form-copy {
  /* boxed-links */

  .boxed {
    background: red;
  }
  .boxed a {
    border: 1px solid $middle-grey;
    padding: 5px 10px;
    display: block;
    width: max-content;
    margin-bottom: 10px;
  }

  .boxed.download a:before,
  .boxed.down a:before {
    content: "\f063";
    font-family: FontAwesome;
    margin-right: 0.5em;
  }

  .boxed.right a:before {
    content: "\f061";
    font-family: FontAwesome;
    margin-right: 0.5em;
  }

  /* links-sidebar */

  // layout
  .sidebar {
    @include sidebar;
    display: flex;
    flex-direction: column;
  }

  .sidebar > * {
    margin: 0 0 30px 0;
    position: relative;
  }

  @media screen and (max-width: $breakpoint-2) {
    .sidebar {
      flex-direction: row;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .sidebar > * {
      margin: 0 45px 0 0;
    }
  }

  .link-box > * {
    padding-left: 20px;
    position: relative;
  }

  // left line
  .link-box > *::before {
    content: "";
    position: absolute;
    // inset: 3px auto 3px 0px;
    top: 3px;
    left: 3px;
    width: 0px;
    bottom: 3px;
    border: 3px solid
      adjust-color($accent-color, $saturation: -50%, $lightness: 30%);
    border-radius: 3px;
    background-color: adjust-color(
      $accent-color,
      $saturation: -50%,
      $lightness: 30%
    );
  }

  // font styling
  .link-box a:first-of-type {
    font-size: 14px;
    font-weight: 300;
    border: none;

    strong {
      display: block;
      line-height: 1.3;

      // white-space: nowrap;
      // overflow-x: hidden;
      // text-overflow: ellipsis;

      font-size: 20px;
      font-weight: 300;
    }

    // add line break
    strong::after {
      content: "\a";
      white-space: pre-wrap;
    }

    &::after {
      content: "\a";
      white-space: pre-wrap;
    }

    // hover state
    &:hover {
      background: none;
    }
    &:hover strong {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-thickness: 1px;
    }
  }

  /* callout */
  .callout {
    @include block-pad;
    padding: 15px;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    &:before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background-color: $light-grey;
      z-index: -100;
    }
  }

  .callout > *:first-child {
    margin-top: 0;
  }
  .callout > *:last-child {
    margin-bottom: 0;
  }

  .callout.error {
    border-left: 3px solid red;
    background-color: #fee;
  }
  .callout.warn {
    border-left: 3px solid #fa0;
    background-color: #fed;
  }

  /* activity assignment discussion*/
  .activity,
  .assignment,
  .discussion {
    @include block-full;

    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 3em;
    padding-bottom: 3em;

    background-color: $light-grey;
    border-top: 1px solid $middle-grey;
    border-bottom: 1px solid $middle-grey;

    // content item
    > * {
      @include block-base;
    }

    > h2:first-child {
      margin-top: 0;
      padding: 0;
      text-align: center;
      color: $dark-grey;

      font-family: "Miriam Libre";
      font-weight: bold;
      font-size: 26px;
      letter-spacing: 0.37px;

      text-transform: none;
      position: relative;
    }

    > h2:first-child::before {
      content: "activity";
      display: block;

      width: 100%;
      margin: 0;
      position: relative;
      top: -10px;

      text-align: center;
      font-size: 10px;
      letter-spacing: 2.41px;

      text-transform: uppercase;
    }

    > h2:first-child + p {
      text-align: center;
      width: 300px;
      margin: 35px auto 65px auto;

      font-family: "Roboto";
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.31px;
      line-height: 20px;
    }

    > h3 {
      font-family: "Miriam Libre";
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04px;

      color: $dark-grey;

      padding-bottom: 3px;
      margin-top: 65px;
      margin-bottom: 18px;

      border-bottom: 0.5px solid $middle-grey;
    }

    > .js-lab {
      background: #ddd;
      padding: 15px; // border: 10px solid #CCC;
      @include block-wide;
    }

    code {
      background: white; //rgba(0, 0, 0, 0.05);
    }

    // pre code {
    //   margin-left: 30px;
    //   margin-right: 100px;
    // }

    // placed on the h3 leading into a challenge list
    &.challenges {
      h3 {
        position: relative;
      }

      h3::after {
        content: "Difficulty Level";
        position: absolute;
        right: 0;
      }

      ol li {
        position: relative;
        margin-bottom: 0.75em;
        margin-right: 100px;

        line-height: 30px;
      }

      // show the ••• difficulty symbol
      ol li > code:last-child {
        background: none;
        position: absolute;
        top: 5px;
        right: -100px;
        width: 40px;
        font-size: 32px;
        line-height: 30px;
        letter-spacing: -5px;
        z-index: 1;
      }

      ol li > code:last-child:before {
        content: "•••";
        color: #bbb;
        position: absolute;
        z-index: -1;
      }
    }
  }

  .assignment {
    > h2:first-child::before {
      content: "assignment";
    }
  }

  .discussion {
    > h2:first-child::before {
      content: "discussion";
    }
  }

  /* spoilers */

  div.spoiler {
    position: relative;
  }

  div.spoiler::after {
    position: absolute;
    inset: 0;

    box-sizing: border-box;
    padding: 30px;

    background: rgba(0, 0, 0, 0.9);

    @include font-copy;
    color: white;
    text-align: center;

    content: "Spoiler!\AThis content is hidden for students in the Comp Form course.\A \A Click to reveal.";
    white-space: pre-wrap;
    font-size: 14px;

    transition: opacity 0.5s;
  }

  div.spoiler.reveal::after {
    opacity: 0;
  }

  /* util modifiers */
  .tint {
    background-color: $light-grey;
  }

  .pad {
    @include block-pad;
  }

  .wide {
    @include block-wide;
  }

  .full {
    @include block-full;
  }

  .bigger {
    font-family: "Miriam Libre";
    font-size: 1.2em;
    background: red;
  }

  .biggest {
    font-family: "Miriam Libre";
    font-size: 1.5em;
    background: red;
  }

  .center {
    text-align: center;
    background: red;
  }

  .caption {
    background: red;
  }
}
