@mixin font-title() {
  font-family: "Miriam Libre";
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: $dark-grey;
}

@mixin font-copy() {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.31px;
  line-height: 1.75;
  color: $dark-grey;
}

@mixin font-code() {
  font-family: "Overpass Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: $black;
}

.comp-form .comp-form-copy {
  @include font-copy;

  /* headers */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font-title();
    margin-bottom: 0;
  }

  h1 {
    font-size: 25px;
    text-decoration: line-through;
  }

  h2 {
    font-size: 25px;
    margin-top: 100px;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
  }

  h5,
  h6 {
    font-size: 20px;
    text-decoration: line-through;
  }

  // numbering the h2s
  > h2 {
    padding-left: 3em;
  }
  counter-reset: h2s;
  > h2::before {
    counter-increment: h2s;
    content: counter(h2s, decimal-leading-zero);
    position: absolute;
    margin-left: -3em;
  }
  > h2.plain {
    padding-left: 0;
  }
  > h2.plain::before {
    content: none;
  }

  /* blocks */
  /* paragraphs */
  p {
    margin-bottom: 1.5em;
  }

  /* blockquote */

  blockquote {
    @include block-pad;
    background: $light-grey;
    padding: 15px;
    // font-size: 1.25em;
  }
  blockquote :first-child {
    margin-top: 0;
  }
  blockquote :last-child {
    margin-bottom: 0;
  }

  blockquote p {
    margin: 0.5em 0;
  }

  .callout blockquote {
    font-size: inherit;
    background: white;
    margin: 0;
    width: auto;
  }

  .attrib {
    // font-style: italic;
    margin-top: 0;
    text-align: right;
    font-size: 1rem;
  }
  // .attrib::before {
  //   // content: "—";
  // }

  /* code */

  code {
    @include font-code();
    background-color: $light-grey;
    border-radius: 0;
  }

  .callout code {
    // background-color: rgba(0.1, 0, 0, 0.1);
    background-color: white;
  }

  :not(pre) > code {
    padding: 1px 4px;
    border-radius: 4px;
    font-size: inherit;
  }

  pre code {
    display: block;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-x: visible;
    overflow-x: auto;

    background-color: $light-grey;
    border-radius: 4px;
  }

  .columns pre code {
    margin: 0;
  }

  $red: #cc9999;
  $light-red: #ffeeee;
  $green: #99cc99;

  .bad code {
    border: 1px solid $red;
    background: $light-red;
  }

  .good code {
    border: 1px solid $green;
  }

  /* ul, ol */
  ul,
  ol {
    list-style-type: none;
    padding-left: 40px;
    margin-bottom: 1.5em;
  }

  ul > li,
  ol > li {
    // margin-bottom: 1em;
    line-height: 2;
  }

  ul > li:before,
  ol > li:before {
    position: absolute;
    margin-left: -40px;
    margin-right: 30px;
    width: 30px;
    // text-align: right;
  }

  ul > li:before {
    content: "•";
  }

  ol {
    counter-reset: ollis;
  }

  ol.continue {
    counter-reset: none;
  }

  ol > li::before {
    counter-increment: ollis;
    content: counter(ollis, decimal-leading-zero);
  }

  /* dl */

  dl > dt {
    font-weight: 400;
    // font-size: 0.75em;
  }
  dl > dd {
    // margin-bottom: 15px;
    margin-left: 0;
  }

  dl > dd + dt {
    margin-top: 1.5em;
  }

  dl > dt + dd {
    margin-top: 0.5em;
  }

  /* hr */
  hr {
    border-top: 1px solid $middle-grey;
  }

  /* links */
  a,
  a:hover {
    color: $accent-color;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    text-decoration: none;
  }
  a:hover {
    background-color: $light-grey;
  }

  /* tables */
  table {
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  table th {
    font-family: "Miriam Libre";
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.04px;
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid $middle-grey;
  }
  tbody tr:nth-of-type(1) td {
    padding-top: 10px;
  }
  table td {
    padding: 0 10px;
    vertical-align: top;
  }

  table {
    font-size: 0.85em;
  }

  table th {
    border-top: none;
  }

  table td {
    padding-bottom: 0.75em;
  }

  /* inline */

  strong,
  b {
    font-weight: 400;
  }
}
