.comp-form {
  div.js-lab,
  div.js-show {
    @include block-wide;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 520px;
  }

  iframe.js-lab,
  iframe.js-show {
    border: none;
    width: 100%;
    height: 100%;
  }
}
