@mixin block-base() {
  // border: 1px solid red;
  box-sizing: border-box;
  width: calc(100% - 30px);
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

@mixin block-pad() {
  width: 100%;
  max-width: 730px + 15px + 15px;
}

@mixin block-wide() {
  width: calc(100% - 30px);
  max-width: 1140px;
}

@mixin block-full() {
  width: 100%;
  max-width: 100%;
}

@mixin sidebar() {
  box-sizing: border-box;
  width: 200px;
  position: absolute;
  left: calc(50% + 730px / 2 + 15px);

  @media screen and (max-width: 1200px) {
    width: 730px;
    position: relative;
    left: auto;
  }
}

.comp-form {
  .container > * {
    @include block-base;
  }

  .columns {
    // border: 1px solid red;
    display: flex;
    margin-top: 2em;
  }

  .columns > div {
    flex: 1;
    margin-right: 15px;
    // border: 1px solid green;
    overflow-x: hidden;
  }

  .columns > div:last-child {
    margin-right: 0;
  }

  .columns > div > *:first-child {
    margin-top: 0;
  }
  .columns > div > *:last-child {
    margin-bottom: 0;
  }

  #logo {
    position: fixed;
    z-index: 1000;
    top: 16px;
    left: 16px;
    cursor: pointer;
  }

  #hero {
    // @include color-band($light-grey, $middle-grey);
    background-color: $light-grey;
    border-bottom: 1px solid $middle-grey;

    padding-top: 140px;
    padding-bottom: 133px;
  }

  #scroll-out {
    height: 80vh;
  }
}
