@use "variables" as *;
@use "layout_mixins" as *;

body {
  margin: 0;
}

.comp-form {
  .container > * {
    @include block-base;
  }

  /////// columns
  .columns {
    display: flex;
    margin-top: 2em;
  }

  .columns > * {
    flex: 1;
    margin: 0 15px 0 0;
    overflow-x: hidden;
  }

  .columns > *:last-child {
    margin-right: 0;
  }

  .columns > * > *:first-child {
    margin-top: 0;
  }
  .columns > * > *:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $breakpoint-1) {
    .columns {
      flex-direction: column;
    }
    .columns > div {
      margin: 0 0 30px 0;
    }
  }

  ///

  #logo {
    position: fixed;
    z-index: 1000;
    top: 16px;
    left: 16px;
    cursor: pointer;
  }

  #hero {
    // @include color-band($light-grey, $middle-grey);
    background-color: $light-grey;
    border-bottom: 1px solid $middle-grey;

    padding-top: 140px;
    padding-bottom: 133px;
  }

  #scroll-out {
    height: 80vh;
  }
}
