.comp-form {
  // overflow-x: hidden;

  //todo new layout
  // content item
  .container > * {
    width: 730px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    position: fixed;
    z-index: 1000;
    top: 16px;
    left: 16px;
    cursor: pointer;
  }

  #hero {
    // @include color-band($light-grey, $middle-grey);
    background-color: $light-grey;
    border-bottom: 1px solid $middle-grey;

    padding-top: 140px;
    padding-bottom: 133px;
  }

  #scroll-out {
    height: 80vh;
  }
}
