$breakpoint-1: 790px;
$breakpoint-2: 1200px;

@mixin block-base() {
  // border: 1px solid red;
  box-sizing: border-box;
  width: calc(100% - 30px);
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

@mixin block-pad() {
  width: 100%;
  max-width: 730px + 15px + 15px;
}

@mixin block-wide() {
  width: calc(100% - 30px);
  max-width: 1140px;
}

@mixin block-full() {
  width: 100%;
  max-width: 100%;
}

@mixin sidebar() {
  box-sizing: border-box;
  width: 180px;
  position: absolute;
  left: calc(50% + 730px / 2 + 35px);

  @media screen and (max-width: $breakpoint-2) {
    width: 730px;
    position: relative;
    left: auto;
  }
}

body {
  margin: 0;
}

.comp-form {
  .container > * {
    @include block-base;
  }

  /////// columns
  .columns {
    display: flex;
    margin-top: 2em;
  }

  .columns > * {
    flex: 1;
    margin: 0 15px 0 0;
    overflow-x: hidden;
  }

  .columns > *:last-child {
    margin-right: 0;
  }

  .columns > * > *:first-child {
    margin-top: 0;
  }
  .columns > * > *:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $breakpoint-1) {
    .columns {
      flex-direction: column;
    }
    .columns > div {
      margin: 0 0 30px 0;
    }
  }

  ///

  #logo {
    position: fixed;
    z-index: 1000;
    top: 16px;
    left: 16px;
    cursor: pointer;
  }

  #hero {
    // @include color-band($light-grey, $middle-grey);
    background-color: $light-grey;
    border-bottom: 1px solid $middle-grey;

    padding-top: 140px;
    padding-bottom: 133px;
  }

  #scroll-out {
    height: 80vh;
  }
}
