.comp-form.resources {
  // LAYOUT
  .container > * {
    @include block-wide;
  }

  .resource-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px;
    column-gap: 20px;
    // row-gap: 20px;
  }
  .resource-list * {
    margin: 0;
  }

  h2,
  p {
    grid-column: 1;
  }

  dl {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
  }

  dl > *:nth-of-type(odd) {
    grid-column: 1;
  }
  dl > *:nth-of-type(even) {
    grid-column: 2;
  }

  @media screen and (max-width: $breakpoint-1) {
    .resource-list {
      display: block;
    }
    .resource-list dl {
      margin-top: 3em;
    }
  }

  // STYLE

  h1 {
    margin-top: 2em;
  }

  h2,
  dt {
    font-size: 1rem;
    line-height: 35px;
  }

  dt a {
    font-size: 1rem;
    text-decoration: none;
    border-bottom: none;
  }

  h2 + p,
  .resource-list dd {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 3em;
    max-width: 18em;
    padding-right: 2em;
  }
}
