.comp-form-copy .slides-component {
  @include block-wide;
  margin-top: 30px;
  margin-bottom: 30px;

  .slides {
    width: 100%;
  }

  nav {
    position: relative;

    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .next:hover,
  .prev:hover {
    cursor: pointer;
  }
  .next polygon,
  .prev polygon {
    fill: $middle-grey;
  }
  .next:hover polygon,
  .prev:hover polygon {
    fill: $dark-grey;
  }
  .glider-dots {
    margin: 0px 12px;
  }
  .glider-dot {
    margin: 3px 6px;
  }
  .glider-dot.active {
    background: $dark-grey;
  }
  nav svg {
    margin: 0;
  }

  .slide {
    display: flex;
    justify-content: space-between;
    background: $light-grey;
    width: 100%;
  }

  .slide:not(.active) {
    // display: none;
  }

  .slide-image {
    box-sizing: border-box;
    width: calc(100% / 12 * 8);
    padding: 15px;
  }

  .slide-info {
    text-align: left;
    box-sizing: border-box;
    width: calc(100% / 12 * 4);
    padding: 15px;
  }

  .slide-image > img {
    width: 100%;
    height: 500px;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  .slide-image > img.contain {
    object-fit: scale-down;
  }

  .artist {
    @include font-title;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .title {
    @include font-title;
    font-size: 20px;
    font-weight: normal;
    color: lighten($dark-grey, 30);
  }

  .slide-info .comments {
    // @include font-title;
    // font-weight: normal;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .links:not(:empty) {
    border-top: 1px solid $middle-grey;
    margin-top: 4em;
    padding-top: 10px;
  }

  @media screen and (max-width: $breakpoint-1) {
    .slide {
      flex-direction: column;
      justify-content: flex-start;
    }

    .slide-image {
      box-sizing: border-box;
      width: 100%;
    }

    .slide-info {
      text-align: left;
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
    }

    .slide-image > img {
      height: 300px;
    }

    .links:not(:empty) {
      margin-top: 0em;
    }
  }
}
