// js-lab

//todo new layout //jslab
// callout item
.comp-form {
  div.js-lab,
  div.js-show {
    //todo new layout //jslab
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1140px;
    height: 510px;
    // @include media-breakpoint-down(sm) {
    //   height: 80vh;
    // }
  }

  // .aspect-2-1 {
  //   padding-top: calc((100% + 10px) * 0.5 + 20px);
  //   position: relative;
  // }

  // .aspect-4-1 {
  //   padding-top: calc((100% + 10px) * 0.25 + 20px);
  //   position: relative;
  // }

  // .aspect-2-1 > .js-show,
  // .aspect-4-1 > .js-show {
  //   position: absolute;
  //   top: 0;
  //   height: 100%;
  //   width: 100%;
  // }

  iframe.js-lab,
  iframe.js-show {
    border: none;
    width: 100%;
    height: 100%;
  }
}
