---
permalink: "{{ page.filePathStem }}.html"
---
doctype html
html(lang="en")
	head
		title= title + " | Comp Form"

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		


		// google analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-41378785-2")
		script
			| window.dataLayer = window.dataLayer || [];
			| function gtag(){dataLayer.push(arguments);}
			| gtag('js', new Date());
			| gtag('config', 'UA-41378785-2');

		// open graph
		meta(property="og:site_name" content="compform.net")
		meta(property="og:title" content=title)
		meta(property="og:description" content=description)
		meta(property="og:image" content=image)
		meta(name="twitter:card" content="summary_large_image")

		// glider
		<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js" integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.css" integrity="sha512-YM6sLXVMZqkCspZoZeIPGXrhD9wxlxEF7MzniuvegURqrTGV2xTfqq1v9FJnczH+5OGFl5V78RgHZGaK34ylVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


		// favicon
		link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16")
		link(rel="icon" type="image/x-icon" href="/favicon/favicon.ico")

		// font awesome
		link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")

		// styles
		link(rel="stylesheet", href="/css/main.css")

		//scripts
		script(src="/js/main.js")



	body.comp-form.toc
		if !hide_logo
			#logo
				include ./_logo.svg

		.container.comp-form-toc
			!=content

		#scroll-out.container