---
permalink: "{{ page.filePathStem }}.html"
---
doctype html
html(lang="en")
	head
		title= title + " | Comp Form"

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		
		// umami analytics
		<script async defer data-website-id="2d0da841-e826-41de-8b46-facca026c803" data-do-not-track="true" src="http://144.202.20.152:3000/umami.js"></script>

		// google analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-41378785-2")
		script
			| window.dataLayer = window.dataLayer || [];
			| function gtag(){dataLayer.push(arguments);}
			| gtag('js', new Date());
			| gtag('config', 'UA-41378785-2');

		// open graph
		meta(property="og:site_name" content="compform.net")
		meta(property="og:title" content=title)
		meta(property="og:description" content=description)
		meta(property="og:image" content=image)
		meta(name="twitter:card" content="summary_large_image")

		// favicon
		link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")

		// font awesome
		link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")

		// styles
		link(rel="stylesheet", href="/css/main.css")

		//scripts
		script(src="/js/main.js")



	body.comp-form.toc
		if !hide_logo
			#logo
				include ./_logo.svg

		#copy.container.comp-form-toc
			!=content

		#scroll-out.container